n8n-workflows/Backup Verification Daily.json
{
  "name": "Backup Verification Daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 5 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "schedule-trigger-backup-verify",
      "notes": "Runs daily at 5:15 AM (after all backup scripts complete)"
    },
    {
      "parameters": {
        "command": "/scripts/verify_backups.sh"
      },
      "name": "SSH - Run Verification Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "ssh-run-verification",
      "credentials": {
        "sshPassword": {
          "id": "JFyXom4nOrhtezt1",
          "name": "SSH Password account"
        }
      },
      "continueOnFail": true,
      "notes": "Executes backup verification via SSH to alpine-utility"
    },
    {
      "parameters": {
        "command": "cat /mnt/backups/health/backup_verification_latest.json"
      },
      "name": "SSH - Read JSON Health Report",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "id": "ssh-read-json",
      "credentials": {
        "sshPassword": {
          "id": "JFyXom4nOrhtezt1",
          "name": "SSH Password account"
        }
      },
      "continueOnFail": true,
      "notes": "Reads JSON health report generated by verification script"
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON health report and check status\nconst sshOutput = $input.first().json;\nconst jsonStr = sshOutput.stdout || '{}';\n\ntry {\n  const report = JSON.parse(jsonStr);\n  const overallStatus = report.overall_status || 'unknown';\n  \n  // Parse timestamp and check freshness (within 26 hours)\n  const reportTime = new Date(report.timestamp.replace(/_/g, '-').replace(/-/g, '-').substring(0, 19));\n  const now = new Date();\n  const ageHours = (now - reportTime) / (1000 * 60 * 60);\n  const isStale = ageHours > 26;\n  \n  return {\n    json: {\n      overallStatus: overallStatus,\n      reportTimestamp: report.timestamp,\n      ageHours: Math.round(ageHours * 10) / 10,\n      isStale: isStale,\n      hasFailed: (overallStatus !== 'pass' || isStale),\n      checks: report.checks\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      overallStatus: 'error',\n      hasFailed: true,\n      error: error.message\n    }\n  };\n}"
      },
      "name": "Parse JSON Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "parse-json-status",
      "notes": "Parses JSON report and determines if backups failed or are stale"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-json-failure",
              "leftValue": "={{ $json.hasFailed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        300
      ],
      "id": "check-if-failed",
      "name": "Check If Failed",
      "notes": "Primary check based on JSON health report status. Triggers alert if overall_status != pass or report is stale (>26h old)"
    },
    {
      "parameters": {
        "jsCode": "const sshOutput = $input.first().json;\nconst stdout = sshOutput.stdout || '';\nconst stderr = sshOutput.stderr || '';\nconst exitCode = sshOutput.code || 0;\n\nconst timestamp = new Date().toLocaleString('en-US', { \n  timeZone: 'America/Chicago',\n  hour12: true\n});\n\nconst html = `<h2>❌ Backup Verification Failed</h2>\n<p><strong>Time:</strong> ${timestamp}</p>\n<p><strong>Exit Code:</strong> ${exitCode}</p>\n<p><strong>Output:</strong></p>\n<pre style=\"background: #f5f5f5; padding: 10px; border: 1px solid #ddd;\">${stdout}</pre>\n${stderr ? `<p><strong>Errors:</strong></p><pre style=\"background: #fff3cd; padding: 10px; border: 1px solid #ffc107;\">${stderr}</pre>` : ''}`;\n\nreturn {\n  json: {\n    emailSubject: '❌ Backup Verification Failed - ' + timestamp,\n    emailBody: html\n  }\n};"
      },
      "name": "Format Verification Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        240
      ],
      "id": "format-verification-report",
      "notes": "Format verification output for email"
    },
    {
      "parameters": {
        "fromEmail": "golickmybutt@gmail.com",
        "toEmail": "golickmybutt@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "emailFormat": "html",
        "html": "={{ $json.emailBody }}",
        "options": {}
      },
      "name": "Send Failure Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1560,
        240
      ],
      "id": "send-failure-email",
      "credentials": {
        "smtp": {
          "id": "DCxuQPQ2OqheCxzi",
          "name": "SMTP account"
        }
      },
      "notes": "Send detailed email if verification fails"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "SSH - Run Verification Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - Run Verification Script": {
      "main": [
        [
          {
            "node": "SSH - Read JSON Health Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - Read JSON Health Report": {
      "main": [
        [
          {
            "node": "Parse JSON Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Status": {
      "main": [
        [
          {
            "node": "Check If Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Failed": {
      "main": [
        [
          {
            "node": "Format Verification Report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Verification Report": {
      "main": [
        [
          {
            "node": "Send Failure Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "errorWorkflow": "centralized-error-notification"
  },
  "versionId": "backup-verification-daily",
  "meta": {
    "instanceId": "a5b73b5094a8094553ab22c2021e3b23b98129e99a71eae042d1d69dd001a474"
  },
  "tags": [
    {
      "createdAt": "2026-02-25T00:00:00.000Z",
      "updatedAt": "2026-02-25T00:00:00.000Z",
      "id": "backup",
      "name": "backup"
    },
    {
      "createdAt": "2026-02-25T00:00:00.000Z",
      "updatedAt": "2026-02-25T00:00:00.000Z",
      "id": "monitoring",
      "name": "monitoring"
    }
  ]
}
