n8n-workflows/Garage Daily Backup.json
{
  "name": "Garage Daily Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        80
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "notes": "Runs daily at 4 AM (Gitea=3AM, Karakeep=2AM, Garage=4AM)"
    },
    {
      "parameters": {
        "command": "bash -c \"/scripts/export_garage_backup.sh\""
      },
      "name": "SSH - Run Backup Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -416,
        80
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "credentials": {
        "sshPassword": {
          "id": "JFyXom4nOrhtezt1",
          "name": "SSH Password account"
        }
      },
      "continueOnFail": true,
      "notes": "Executes garage backup via SSH to alpine-utility"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-exit-code",
              "leftValue": "={{ $json.code }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        80
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Check If Failed"
    },
    {
      "parameters": {
        "fromEmail": "golickmybutt@gmail.com",
        "toEmail": "golickmybutt@gmail.com",
        "subject": "❌ Garage Tracker Backup Failed",
        "emailFormat": "html",
        "html": "=<h2>❌ Garage Tracker Backup Failed</h2>\n<p><strong>Time:</strong> {{ $now.format('YYYY-MM-DD HH:mm:ss') }}</p>\n<p><strong>Exit Code:</strong> {{ $('SSH - Run Backup Script').first().json.code }}</p>\n<p><strong>Error Output:</strong></p>\n<pre style=\"background: #f5f5f5; padding: 10px; border: 1px solid #ddd;\">{{ $('SSH - Run Backup Script').first().json.stderr || 'No error output' }}</pre>\n<p><strong>Standard Output:</strong></p>\n<pre style=\"background: #f5f5f5; padding: 10px; border: 1px solid #ddd;\">{{ $('SSH - Run Backup Script').first().json.stdout || 'No output' }}</pre>",
        "options": {}
      },
      "name": "Send Failure Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        -48
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "credentials": {
        "smtp": {
          "id": "DCxuQPQ2OqheCxzi",
          "name": "SMTP account"
        }
      },
      "notes": "Send email alert if backup fails"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "SSH - Run Backup Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - Run Backup Script": {
      "main": [
        [
          {
            "node": "Check If Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Failed": {
      "main": [
        [
          {
            "node": "Send Failure Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "new-workflow-garage-backup",
  "meta": {
    "instanceId": "a5b73b5094a8094553ab22c2021e3b23b98129e99a71eae042d1d69dd001a474"
  },
  "tags": []
}
