n8n-workflows/Karakeep Daily Podcast Generation.json
{
  "name": "Karakeep Daily Podcast Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * *"
            }
          ]
        }
      },
      "name": "Schedule Daily at 2PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        19248,
        2752
      ],
      "id": "6f00bf1b-aa9f-40d5-9f37-3732bf63b208"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Set Date Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        19440,
        2752
      ],
      "id": "155e5405-33e3-4164-a2e9-81e024bdc036"
    },
    {
      "parameters": {
        "url": "http://192.168.0.9:3000/api/v1/bookmarks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "includeContent",
              "value": "true"
            },
            {
              "name": "tags",
              "value": "consume"
            },
            {
              "name": "archived",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Bookmarks Tagged #consume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        19648,
        2752
      ],
      "id": "46df1cb3-b1c6-4baf-8565-c3e114e70885",
      "credentials": {
        "httpHeaderAuth": {
          "id": "X2FyQ0AMsq7uEHhG",
          "name": "Karakeep API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Group bookmarks tagged with #consume by their topic tag\nconst bookmarks = $input.first().json.bookmarks || [];\n\nconsole.log('Total bookmarks with #consume tag:', bookmarks.length);\n\nif (bookmarks.length === 0) {\n  return [];\n}\n\n// Group by topic tag (excluding 'consume' tag)\nconst tagGroups = {};\nbookmarks.forEach(bookmark => {\n  if (bookmark.tags && bookmark.tags.length > 0) {\n    // Find the first tag that's not 'consume' (the topic tag)\n    const topicTag = bookmark.tags.find(tag => tag.name !== 'consume');\n    \n    if (topicTag) {\n      const tagName = topicTag.name;\n      if (!tagGroups[tagName]) {\n        tagGroups[tagName] = [];\n      }\n      tagGroups[tagName].push(bookmark);\n    } else {\n      console.log(`WARNING: Bookmark \"${bookmark.title}\" only has #consume tag, no topic tag`);\n    }\n  }\n});\n\nconsole.log('Topic tag groups:', Object.keys(tagGroups));\n\n// Filter groups with 2+ bookmarks and create output\nconst result = [];\nfor (const [tag, items] of Object.entries(tagGroups)) {\n  console.log(`Topic \"${tag}\" has ${items.length} bookmarks`);\n  if (items.length >= 2) {\n    result.push({\n      tag: tag,\n      bookmarkCount: items.length,\n      bookmarks: items,\n      currentDate: $input.first().json.currentDate\n    });\n  } else {\n    console.log(`Skipping topic \"${tag}\" - only ${items.length} bookmark(s), need at least 2`);\n  }\n}\n\nconsole.log('Final topic groups with 2+ bookmarks:', result.length);\n\nreturn result.map(item => ({ json: item }));"
      },
      "name": "Group by Topic Tag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19840,
        2752
      ],
      "id": "153a97d4-81b3-400c-80dc-c0b3c878c083"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "name": "Any Tag Groups?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        20048,
        2752
      ],
      "id": "3ec73cc0-5e7c-4fff-b46d-525b80684ad1"
    },
    {
      "parameters": {},
      "name": "No Podcasts Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        20240,
        2640
      ],
      "id": "f7a8569a-afa5-43c7-be76-9efa0f6cb11d"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Process Each Tag Group",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        20240,
        2848
      ],
      "id": "e0cad043-2bc0-4a6e-9050-17357cff5f51"
    },
    {
      "parameters": {
        "jsCode": "// Build markdown content from bookmarks\nconst tag = $input.item.json.tag;\nconst bookmarks = $input.item.json.bookmarks;\n\n// Format date as MM-DD-YYYY (consistent with tagging format)\nconst dateStr = $input.item.json.currentDate || new Date().toISOString().split('T')[0];\nconst dateObj = new Date(dateStr);\nconst month = String(dateObj.getMonth() + 1).padStart(2, '0');\nconst day = String(dateObj.getDate()).padStart(2, '0');\nconst year = dateObj.getFullYear();\nconst currentDate = `${month}-${day}-${year}`;\n\nlet markdown = `# Daily Digest - ${tag} - ${currentDate}\\n\\n`;\n\nbookmarks.forEach((bookmark, index) => {\n  markdown += `## Article ${index + 1}: ${bookmark.title || 'Untitled'}\\n`;\n  markdown += `Source: ${bookmark.url || 'No URL'}\\n\\n`;\n  \n  if (bookmark.content) {\n    // Check if content is a string, if not convert it\n    let contentText = typeof bookmark.content === 'string' \n      ? bookmark.content \n      : JSON.stringify(bookmark.content);\n    \n    // Limit content to first 500 characters to avoid huge podcasts\n    const content = contentText.substring(0, 500);\n    markdown += `${content}...\\n\\n`;\n  } else if (bookmark.description) {\n    markdown += `${bookmark.description}\\n\\n`;\n  }\n  \n  markdown += `---\\n\\n`;\n});\n\nreturn {\n  json: {\n    tag: tag,\n    currentDate: currentDate,\n    episodeName: `Daily Digest - ${tag} - ${currentDate}`,\n    markdownContent: markdown,\n    bookmarks: bookmarks,\n    bookmarkIds: bookmarks.map(b => b.id)\n  }\n};"
      },
      "name": "Build Markdown Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20448,
        2848
      ],
      "id": "47947135-f4e7-4fbe-917e-6807a40d92fb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.9:5055/api/podcasts/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "episode_profile",
              "value": "tech_discussion_qwen"
            },
            {
              "name": "speaker_profile",
              "value": "tech_experts_local"
            },
            {
              "name": "episode_name",
              "value": "={{ $json.episodeName }}"
            },
            {
              "name": "content",
              "value": "={{ $json.markdownContent }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate Podcast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        20640,
        2848
      ],
      "id": "d62e7e40-310d-4a7b-ad7f-2cc328f14377"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "name": "Wait for Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        20848,
        2848
      ],
      "id": "28ba8941-14ce-4ed6-8ec5-f35557f1dfd8",
      "webhookId": "5a0645ae-0035-4aab-b04a-42804e769ed3"
    },
    {
      "parameters": {
        "url": "=http://192.168.0.9:5055/api/podcasts/jobs/{{ $json.job_id }}",
        "options": {}
      },
      "name": "Check Episode Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        21056,
        2848
      ],
      "id": "b85617ae-f6ef-4cb6-aa7c-a61c54e97ddc"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "name": "Wait and Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        21424,
        2960
      ],
      "id": "feb4e39e-1c31-474e-b56c-6e2924dda0f6",
      "webhookId": "473f5961-4b7d-4e98-a2d1-def861336794"
    },
    {
      "parameters": {
        "jsCode": "// Pass episode metadata forward for Build Summary\nconst markdownNode = $('Build Markdown Content');\nif (markdownNode && markdownNode.first()) {\n  const data = markdownNode.first().json;\n  return [{\n    json: {\n      episodeName: data.episodeName,\n      tag: data.tag,\n      bookmarkCount: data.bookmarkCount || (data.bookmarks ? data.bookmarks.length : 0)\n    }\n  }];\n}\nreturn [{ json: {} }];"
      },
      "name": "Continue to Next Tag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22192,
        2992
      ],
      "id": "c9c6f700-d003-415d-b595-c2a52ce9d993"
    },
    {
      "parameters": {
        "jsCode": "// Build summary of all generated podcasts\nconst items = $input.all();\nconst podcasts = [];\n\nitems.forEach(item => {\n  if (item.json.episodeName && item.json.bookmarkCount) {\n    podcasts.push({\n      topic: item.json.tag,\n      articleCount: item.json.bookmarkCount,\n      episodeName: item.json.episodeName\n    });\n  }\n});\n\nif (podcasts.length === 0) {\n  return [{ json: { message: 'No podcasts generated today' } }];\n}\n\nconst summary = podcasts.map(p => `${p.topic} (${p.articleCount} articles)`).join(', ');\nconst message = `📻 ${podcasts.length} podcast${podcasts.length > 1 ? 's' : ''} ready: ${summary}`;\n\nreturn [{\n  json: {\n    message: message,\n    podcasts: podcasts,\n    count: podcasts.length\n  }\n}];"
      },
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20512,
        2656
      ],
      "id": "8234d896-e056-4c6e-91b0-c6189aba3ac8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99b58430-7d4a-49ca-acf4-39bbe6d8e46b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        21216,
        2848
      ],
      "id": "5fec1549-e2f4-46d3-8961-6a070e797d38",
      "name": "Is Completed?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        21424,
        2784
      ],
      "id": "c58acb19-1d62-42f1-a603-1d56b661bac2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Get episode details from Check Episode Status response\nconst statusData = $input.first().json;\n\nconsole.log('Episode status data:', JSON.stringify(statusData, null, 2));\n\n// The status check already returns the full episode data\n// Extract what we need: episode_id and result.audio_file_path\nconst episodeId = statusData.episode_id || statusData.result?.episode_id;\nconst audioFile = statusData.result?.audio_file_path || statusData.audio_file;\n\nif (!audioFile) {\n  console.error('ERROR: No audio file found in episode data');\n  console.error('Available fields:', Object.keys(statusData));\n  if (statusData.result) {\n    console.error('Result fields:', Object.keys(statusData.result));\n  }\n}\n\nconsole.log('Episode ID:', episodeId);\nconsole.log('Audio file path:', audioFile);\n\nreturn [{\n  json: {\n    episode_id: episodeId,\n    audio_file: audioFile,\n    status: statusData.status\n  }\n}];"
      },
      "name": "Get Episode Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21424,
        2640
      ],
      "id": "4a75d52e-28c8-4ca6-b3a3-286a49e7a657"
    },
    {
      "parameters": {
        "jsCode": "// Create show notes content from bookmarks\nconst markdownNode = $('Build Markdown Content');\nif (!markdownNode || !markdownNode.first()) {\n  console.log('ERROR: Could not find Build Markdown Content node');\n  return [{ json: { showNotes: 'Error: Could not generate show notes' } }];\n}\n\nconst markdownData = markdownNode.first().json;\nconst episodeName = markdownData.episodeName || 'Daily Digest';\nconst bookmarks = markdownData.bookmarks || [];\n\nlet showNotes = `${episodeName}\\n\\nArticles covered:\\n`;\n\nbookmarks.forEach((bookmark, index) => {\n  showNotes += `\\n• ${bookmark.title || 'Untitled'}\\n`;\n  showNotes += `  ${bookmark.url || 'No URL'}\\n`;\n});\n\nshowNotes += `\\n---\\nAuto-generated from Karakeep bookmarks\\n`;\nshowNotes += `Total articles: ${bookmarks.length} | Generated: ${markdownData.currentDate}\\n`;\n\nconsole.log('Show notes created:', showNotes.substring(0, 200));\n\nreturn [{\n  json: {\n    showNotes: showNotes,\n    episodeName: episodeName,\n    audioFile: $input.first().json.audio_file\n  }\n}];"
      },
      "name": "Create Show Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21632,
        2640
      ],
      "id": "8204a39e-30ae-4742-ac3e-4c0bc1fcdfe2"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for copying files\nconst episodeName = $input.first().json.episodeName;\nconst audioFile = $input.first().json.audioFile;\nconst showNotes = $input.first().json.showNotes;\n\nconsole.log('Episode name:', episodeName);\nconsole.log('Audio file path in container:', audioFile);\n\n// Base64 encode show notes to safely pass via SSH\n// This handles newlines, special characters, and quotes\nconst showNotesB64 = Buffer.from(showNotes).toString('base64');\n\nconsole.log('Show notes encoded (first 50 chars):', showNotesB64.substring(0, 50));\n\nreturn [{\n  json: {\n    episodeName: episodeName,\n    audioFile: audioFile,\n    showNotesB64: showNotesB64,\n    targetDir: '/Volumes/docker/container_configs/audiobookshelf/podcasts/Daily-Digests'\n  }\n}];"
      },
      "name": "Prepare Copy Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21808,
        2640
      ],
      "id": "c59a7870-cd25-4352-b9c5-259c8b7f0eb2"
    },
    {
      "parameters": {
        "command": "=echo '{{ $json.showNotesB64 }}' | ssh -p 22 -o StrictHostKeyChecking=no root@alpine-utility 'TMPF=/tmp/shownotes-$$.b64 && cat > $TMPF && /tmp/copy-podcast.sh \"{{ $json.episodeName }}\" \"{{ $json.audioFile }}\" $TMPF'"
      },
      "name": "Copy Files via Alpine Utility",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        21968,
        2640
      ],
      "id": "f008b06a-0562-4927-a160-fec7c67dafc5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.9:13378/api/libraries/5194d2f8-5178-41f2-a0fd-43fea1c36604/scan",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Scan AudioBookshelf Library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        22144,
        2640
      ],
      "id": "867ffd42-676c-4e99-8089-e019f36828ef",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pjUma9Bm5uZDUzUy",
          "name": "AudioBookshelf API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fetch bookmark data from the Build Markdown Content node\nconst markdownNode = $('Build Markdown Content');\nif (!markdownNode || !markdownNode.first()) {\n  console.log('ERROR: Could not find Build Markdown Content node');\n  return [];\n}\n\nconst markdownData = markdownNode.first().json;\nconst bookmarks = markdownData.bookmarks || [];\n\n// Format date as MM-DD-YYYY\nconst dateStr = markdownData.currentDate || new Date().toISOString().split('T')[0];\nconst dateObj = new Date(dateStr);\nconst month = String(dateObj.getMonth() + 1).padStart(2, '0');\nconst day = String(dateObj.getDate()).padStart(2, '0');\nconst year = dateObj.getFullYear();\nconst currentDate = `${month}-${day}-${year}`;\n\nconsole.log('Fetched from Build Markdown Content:');\nconsole.log('- Bookmarks to tag:', bookmarks.length);\nconsole.log('- Current date:', currentDate);\n\nif (!bookmarks || bookmarks.length === 0) {\n  console.log('ERROR: No bookmarks found in markdown data');\n  return [];\n}\n\nreturn bookmarks.map((bookmark, idx) => {\n  console.log(`Bookmark ${idx + 1}: ID=${bookmark.id}, Title=${bookmark.title}`);\n  return {\n    json: {\n      id: bookmark.id,\n      title: bookmark.title,\n      currentDate: currentDate\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22336,
        2752
      ],
      "id": "d64dc141-45de-41b5-8e12-241097b5dc25",
      "name": "Format Single Bookmark"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://192.168.0.9:3000/api/v1/bookmarks/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\n    {\"tagName\": \"podcasted\"},\n    {\"tagName\": \"podcasted-{{ $json.currentDate }}\"}\n  ],\n  \"removeTag\": \"consume\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        22544,
        2752
      ],
      "id": "b5354f1b-a4fa-45e8-8237-c56af69adff5",
      "name": "Update Bookmark Tags",
      "credentials": {
        "httpHeaderAuth": {
          "id": "X2FyQ0AMsq7uEHhG",
          "name": "Karakeep API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://192.168.0.9:3000/api/v1/bookmarks/{{ $('Format Single Bookmark').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"archived\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        22752,
        2752
      ],
      "id": "f6b456a9-cd1c-4eb0-a286-58154546109a",
      "name": "Archive Bookmark",
      "credentials": {
        "httpHeaderAuth": {
          "id": "X2FyQ0AMsq7uEHhG",
          "name": "Karakeep API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Daily at 2PM": {
      "main": [
        [
          {
            "node": "Set Date Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Variables": {
      "main": [
        [
          {
            "node": "Get Bookmarks Tagged #consume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bookmarks Tagged #consume": {
      "main": [
        [
          {
            "node": "Group by Topic Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Topic Tag": {
      "main": [
        [
          {
            "node": "Any Tag Groups?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Tag Groups?": {
      "main": [
        [
          {
            "node": "No Podcasts Needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Tag Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Tag Group": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Markdown Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Markdown Content": {
      "main": [
        [
          {
            "node": "Generate Podcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Podcast": {
      "main": [
        [
          {
            "node": "Wait for Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Generation": {
      "main": [
        [
          {
            "node": "Check Episode Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Episode Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Retry": {
      "main": [
        [
          {
            "node": "Check Episode Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue to Next Tag": {
      "main": [
        [
          {
            "node": "Process Each Tag Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Get Episode Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait and Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Episode Details": {
      "main": [
        [
          {
            "node": "Create Show Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Show Notes": {
      "main": [
        [
          {
            "node": "Prepare Copy Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Copy Data": {
      "main": [
        [
          {
            "node": "Copy Files via Alpine Utility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Files via Alpine Utility": {
      "main": [
        [
          {
            "node": "Scan AudioBookshelf Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan AudioBookshelf Library": {
      "main": [
        [
          {
            "node": "Format Single Bookmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Continue to Next Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag Bookmarks as Podcasted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Single Bookmark": {
      "main": [
        [
          {
            "node": "Update Bookmark Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bookmark Tags": {
      "main": [
        [
          {
            "node": "Archive Bookmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Bookmark": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97f7b223-3ef6-495e-9228-edfe7498cd94",
  "meta": {
    "instanceId": "a5b73b5094a8094553ab22c2021e3b23b98129e99a71eae042d1d69dd001a474"
  },
  "id": "x1gJIjp07WzVnWSZ",
  "tags": []
}