podcast-automation/n8n-workflows/Karakeep Bookmark Cleanup.json
{
  "name": "Karakeep Bookmark Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "name": "Schedule Daily at 3AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1008,
        112
      ],
      "id": "f33e0333-db35-4ab0-bbeb-d484b08b3dd1"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Calculate Cutoff Date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -800,
        112
      ],
      "id": "c3c290c1-d2cc-46ee-a57c-ba7725bc91d7"
    },
    {
      "parameters": {
        "url": "http://192.168.0.9:3000/api/v1/bookmarks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "archived",
              "value": "true"
            },
            {
              "name": "tags",
              "value": "podcasted"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Archived Podcasted Bookmarks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -608,
        112
      ],
      "id": "87231b0a-1caa-4aa6-b5f6-06b438934ba2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "X2FyQ0AMsq7uEHhG",
          "name": "Karakeep API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter bookmarks for deletion:\n// - Archived in Karakeep\n// - Tagged with #podcasted\n// - Older than 7 days\n// - NOT starred/favourited (safety check - starred bookmarks are protected)\n\nconst sevenDaysAgo = new Date($input.first().json.sevenDaysAgo);\nconst bookmarks = $input.first().json.bookmarks || [];\n\nconsole.log('Checking', bookmarks.length, 'archived #podcasted bookmarks for cleanup');\nconsole.log('Cutoff date:', sevenDaysAgo.toISOString());\n\nconst toDelete = bookmarks.filter(bookmark => {\n  const created = new Date(bookmark.createdAt);\n  const isOld = created < sevenDaysAgo;\n  const notStarred = !bookmark.favourited;  // Safety check - protect starred bookmarks\n  \n  if (isOld && !notStarred) {\n    console.log(`Protecting starred bookmark: \"${bookmark.title}\" (created ${bookmark.createdAt})`);\n  }\n  \n  return isOld && notStarred;\n});\n\nconsole.log('Bookmarks to delete:', toDelete.length);\n\nif (toDelete.length === 0) {\n  return [];\n}\n\nreturn toDelete.map(bookmark => ({\n  json: {\n    id: bookmark.id,\n    title: bookmark.title,\n    createdAt: bookmark.createdAt,\n    url: bookmark.url\n  }\n}));"
      },
      "name": "Filter Old Unstarred Podcasted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ],
      "id": "4c4ac2a6-c82c-4ba2-bd34-2c6bc71e2080"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "name": "Any to Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "bceb5ef6-e3ff-4415-a5f6-a9c8cc42dfcf"
    },
    {
      "parameters": {},
      "name": "Nothing to Clean",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "22d4f02f-3613-4714-bfb8-d6278b0aca24"
    },
    {
      "parameters": {
        "jsCode": "// Log bookmarks before deletion for audit trail\nconst items = $input.all();\nconst bookmarkList = items.map(item => {\n  return `- ${item.json.title} (${item.json.createdAt}): ${item.json.url}`;\n}).join('\\n');\n\nconst auditLog = `Deleting ${items.length} old archived bookmarks:\\n${bookmarkList}`;\n\nconsole.log(auditLog);\n\nreturn items;"
      },
      "name": "Log for Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "id": "73e40d53-b812-4721-a80b-a4b6df536dab"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=http://192.168.0.9:3000/api/v1/bookmarks/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Delete Bookmark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        208
      ],
      "id": "74471144-92ed-4767-9eaf-23c95292edc8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "X2FyQ0AMsq7uEHhG",
          "name": "Karakeep API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Count deleted bookmarks\nconst items = $input.all();\nconst count = items.length;\n\nif (count === 0) {\n  return [{\n    json: {\n      message: 'No bookmarks cleaned up',\n      count: 0,\n      notify: false\n    }\n  }];\n}\n\nconst message = `🧹 Cleaned up ${count} old podcast bookmark${count > 1 ? 's' : ''}`;\n\nreturn [{\n  json: {\n    message: message,\n    count: count,\n    notify: count > 10  // Only notify if more than 10 deleted\n  }\n}];"
      },
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        208
      ],
      "id": "e54aae9d-dde5-4c60-bef7-daaead89f771"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.notify }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        608,
        208
      ],
      "id": "301dc5c8-6376-46d7-83b1-fe366b842af9"
    },
    {
      "parameters": {},
      "name": "Silent Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        112
      ],
      "id": "d98a23f9-d74a-40d3-a1d6-2c017a191143"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Daily at 3AM": {
      "main": [
        [
          {
            "node": "Calculate Cutoff Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Cutoff Date": {
      "main": [
        [
          {
            "node": "Get Archived Podcasted Bookmarks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Archived Podcasted Bookmarks": {
      "main": [
        [
          {
            "node": "Filter Old Unstarred Podcasted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old Unstarred Podcasted": {
      "main": [
        [
          {
            "node": "Any to Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any to Delete?": {
      "main": [
        [
          {
            "node": "Nothing to Clean",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log for Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log for Audit": {
      "main": [
        [
          {
            "node": "Delete Bookmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Bookmark": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "Silent Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19930a93-94bb-42c9-a2ee-d015231d9a5d",
  "meta": {
    "instanceId": "a5b73b5094a8094553ab22c2021e3b23b98129e99a71eae042d1d69dd001a474"
  },
  "id": "KwcclOB7n6VWoyCi",
  "tags": []
}